template(name='Main')

  html
    head
      meta(charset="UTF-8")
      meta(name="viewport" content="device-width, initial-scale=1")
      title Library Dashboard

    body
      +yield
      script(src='public/scripts/jquery.simplePagination.js" type="text/javascript')
