template(name='Account')

  .ui.small.modal#account-modal
    i.close.icon#close
    .ui.middle.aligned.center.aligned.grid
      .column
        h2#register-subtitle Your Account:
        hr
        .content
