template(name='Account')

  .ui.small.modal#account-modal
    i.close.icon#close
    .ui.middle.aligned.center.aligned.grid
      .column
        h2#register-subtitle Your Account:
        hr
        .content
          p Username: #{display-username}
          .ui.basic.blue.button#change-username Change Username?
          .ui.basic.blue.button#change-password Change Password?
          .ui.basic.red.button#delete-user Delete Your Account
