template(name='Notifications')
  .ui.small.modal#notifications-modal
    i.close.icon#close
    .ui.middle.aligned.center.aligned.grid
      .column
        h2#register-subtitle Notifications:
        hr
        .content
