template(name='Users')
  .ui.small.modal#users-modal
    +InnerUsers

template(name='InnerUsers')
  i.close.icon#close
  .ui.middle.aligned.center.aligned.grid
    .column
      h2#register-subtitle Users:
      hr
      .content
        ul
          each user
            .content
              li#username= username
              br
              br
              .ui.basic.red.button#delete-user Delete This User
              hr
