template(name='Dashboard')

      .ui.menu#dashboard-nav
        a.left.header.white.item(href="http://www.palmbeachstate.edu/library/default.aspx") Palm Beach State College | Lake Worth Library
        .right
          .ui.basic.blue.button#admin Admin
          if isInRole 'admin'
            .ui.basic.blue.button#users Edit Users
          .ui.basic.blue.button#log-out Log Out

      .ui.secondary.pointing.menu
          .ui.item.right.floated
            .user-links
              a#your-account Your Account
              a#help Help

      .container#user-display
        img.ui.avatar.image#avatar(src='https://cdn4.iconfinder.com/data/icons/gray-user-management/512/remove-512.png')
        span #{username}
        br
        i.fa.fa-envelope-o#notifications  2

      .ui.vertical.menu#section-nav
        a.item.active.teal New Books
        a.item ALEPH
        a.item Congressional Digests
        a.item Library Statistics

      +NewBooks

      footer
        a(href="http://www.palmbeachstate.edu/library/lake-worth-library/services-and-staff.aspx")#contact-us Contact Us

      +MainModal
