template(name='Help')
  .ui.small.modal#help-modal
    +InnerHelp

template(name='InnerHelp')
  i.close.icon#close
  .ui.middle.aligned.center.aligned.grid
    .column
      h2#help-subtitle Help:
      hr
      .content
        p Send a message to an admin, and we will get back to you as soon as possible!
        textarea(cols='45')#help-request
        hr
        .ui.basic.blue.button#send-help-request Send Request
